/.idea/modules.xml
/.idea/inspectionProfiles/Project_Default.xml
/dist/SimConnect.dll
/.idea/simconnect-server.iml
/dist/simserv.exe
/.idea/dictionaries/Toorop.xml
/.idea/vcs.xml
/.idea/watcherTasks.xml
/.idea/workspace.xml
